<div class="card">
  <h2>Special</h2>
  <p-carousel
    [numScroll]="3"
    [numVisible]="3"
    [circular]="true"
    autoplayInterval="4000"
    [responsiveOptions]="responsiveOptions"
    showIndicators="true"
    showNavigators="false"
    [value]="products">
    <ng-template #item let-product>

      <div>
        <p-card>
          <ng-template pTemplate="header">
            <img alt="Card"
                 class="w-full rounded h-20rem"
                 [src]="product.image"/>
          </ng-template>
          <ng-template pTemplate="title"> {{ product.name }}</ng-template>
          <ng-template pTemplate="subtitle"> Get a chance to meet her</ng-template>
          <p>
            Vanity models are the best in entire bay area
          </p>
          <ng-template pTemplate="footer">
            <div class="flex gap-4 mt-1">
              <p-button label="Live Chat" (click)="liveChat(product)" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
              <p-button label="Video Call"  (click)="makeVideoCall(product)" class="w-full" styleClass="w-full" />
            </div>
          </ng-template>
        </p-card>
      </div>



    </ng-template>
  </p-carousel>
</div>

<p-dialog header="{{dialogHeading}} with {{selectedModel?.name}}" [modal]="true" [(visible)]="showVideoCallDialog" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-8">
    <p-avatar image="{{selectedModel.image}}" shape="circle" styleClass="margint-right-1"/>
    Let's connect
  </span>
  <div class="flex items-center gap-4 mb-4">
    <label for="phone" class="font-semibold w-24">Phone:</label>
    <input pInputText id="phone" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex items-center gap-4 mb-8">
    <label for="email" class="font-semibold w-24">Email:</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancel" severity="secondary" (click)="showVideoCallDialog = false" />
    <p-button label="Connect" (click)="showVideoCallDialog = false" />
  </div>
</p-dialog>
